{% extends "theme/base.html" %}

{% block content %}

			<div class="row">

				<!-- Dashboard Box -->
				<div class="col-xl-12">
					<div class="dashboard-box margin-top-0">
<form action="{% url 'jobs:job_create' %}"  method="post"  >
    {% csrf_token %}
	
  <div class="headline">
    <h3><i class="icon-feather-folder-plus"></i> Job Submission Form</h3>
  </div>

  <div class="content with-padding padding-bottom-10">
    <div class="row">

      <div class="col-xl-4">
        <div class="submit-field">
          <h5>Job Title</h5>
          <input type="text" class="with-border" name="title">
        </div>
      </div>

      <div class="col-xl-4">
        <div class="submit-field">
          <h5>Job Type</h5>
          <select class="selectpicker with-border" data-size="7" title="Select Job Type" name="type">
            <option value="FULLTIME" >Full Time</option>
            <option value="PART_TIME">Freelance</option>
            <option value="FREELANCER">Part Time</option>
            <option value="INTERNSHIP">Internship</option>
            <option value="TEMPORARY">Temporary</option>
          </select>
        </div>
      </div>

      <div class="col-xl-4">
        <div class="submit-field">
          <h5>Job Category</h5>
          <select class="selectpicker with-border" data-size="7" title="Select Category" name="category">
            <option value="ACCOUNTING_AND_FINANCE">Accounting and Finance</option>
            <option value="CLERICAL_&_DATA_ENTRY">Clerical & Data Entry</option>
            <option value="COUNSELING">Counseling</option>
            <option value="COURT_ADMINISTRATION">Court Administration</option>
            <option value="HUMAN_RESOURCES",>Human Resources</option>
            <option value="INVESRIGATIVE">Investigative</option>
            <option value="IT_AND_COMPUTERS">IT and Computers</option>
            <option value="LAW_ENFORCEMENT">Law Enforcement</option>
            <option value="MANAGEMENT">Management</option>
            <option value="Miscellaneous"</option>
            <option value="PUBLIC_RELATIONS">Public Relations</option>
          </select>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="submit-field">
          <h5>Status</h5>
          <select class="selectpicker with-border" data-size="7" title="Select Category" name="category">
            <option value="PENDING">PENDING</option>
            <option value="ACTIF">ACTIF</option>
            <option value="CANELED">CANELED</option>
            <option value="ALLOCATED">ALLOCATED</option>
            <option value="CLOSED">CLOSED</option>
            
          </select>
        </div>
      </div>

      <div class="col-xl-4">
        <div class="submit-field">
          <h5>Location</h5>
          <select class="selectpicker with-border" data-size="7"  name="location ">
            {% for commune in communes %}
            <option value="{{commune.id}}">{{commune.name}} </option>
            {% endfor %}
                         
          </select>
          
        </div>
      </div>

      <div class="col-xl-4">
        <div class="submit-field">
          <h5>Salary</h5>
          <select class="selectpicker with-border" data-size="7"  name="budget ">
            <option value="1">0 - 5 000</option>
            <option value="2">5 000 - 10000</option>
            <option value="3">10000 - 100000</option>
            <option value="4">+100 000</option>
           
            
          </select>
        </div>
      </div>
      

      <div class="col-xl-4">
        <div class="submit-field">
          <h5>Tags <span>(optional)</span>  <i class="help-icon" data-tippy-placement="right" title="Maximum of 10 tags"></i></h5>
          <div class="keywords-container">
            <div class="keyword-input-container">
              <input type="text" class="keyword-input with-border" placeholder="e.g. job title, responsibilites" name="tags">
              <h5>Number of days</h5>
              <input type="number" class="keyword-input with-border"  name="duration ">
              <button class="keyword-input-button ripple-effect"><i class="icon-material-outline-add"></i></button>
              <h5>Expiration</h5>
              <input type="text" class="keyword-input with-border"  name="expiration ">
              <h5>Deadline</h5>
              <input type="text" class="keyword-input with-border"  name="Deadline ">
            </div>
            <div class="keywords-list"><!-- keywords go here --></div>
            <div class="clearfix"></div> 
          </div>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="submit-field">
          <h5>Job Description</h5>
          <textarea cols="30" rows="5" class="with-border" name="description"></textarea>
          
        </div>
      </div>

    </div>
  </div>
</div>
</div>
<button type="submit">envoyer</button>
 

  

</form>

 {% endblock content %}
     
